<!-- templates/search.html -->

{% extends "base.html" %}

{% block content %}
<h1 class="title" style="text-align: left;">
    Search Available Bookings
</h1>
<br>
<div style="text-align: left;">
    <form action="" method="get">
        <div class="form-group">
            <label for="party_size">Party Size: </label>
            <input type="number" id="party_size" name="party_size" style="width: 8ch;" required="required"
               value="{{args.party_size}}">
        </div>

        <div class="form-group">
            <label for="hours">Duration (hh:mm): </label>
            <input type="number" id="hours" name="hours" style="width: 5ch;" required="required" value="{{args.hours}}"> :
            <input type="number" id="minutes" name="minutes" style="width: 5ch;" required="required"
                   value="{{args.minutes}}"><br>
        </div>

        <div class="form-group">
            <label for="start_datetime">Preferred Date and Time: </label><br>
            From: <input type="datetime-local" id="start_datetime" name="start_datetime" required="required"
                         value="{{args.start_datetime}}">
            To: <input type="datetime-local" id="end_datetime" name="end_datetime" required="required"
                       value="{{args.end_datetime}}"><br><br>
        </div>
        <input type="submit" class="btn btn-primary" value="Find Restaurants">
    </form>
    <br>
    {% if tables %}
    <table class="table table-striped">
        <thead>
        <tr>
        <tr>
            {% for key, value in tables[0].items() %}
            <td scope="col"> {{ stringcase.titlecase(key) }}</td>
            {% endfor %}
            <td scope="col">book now</td>
        </tr>
        </tr>
        </thead>
        <tbody>
        {% for table in tables %}
        <tr>
            {% for key, value in table.items() %}
            <td> {{ value }}</td>
            {% endfor %}
            <td><a href="/bookNow?unbooked_tables_id={{ table['id'] }}"><button>Book Now</button></a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% elif args|length >= 3 %}
    No tables found
    {% endif %}
</div>


{% endblock %}